@model DEPI_GraduationProject.DTOs.LoginModel

<h2>Login</h2>
<form asp-action="ValidateLogin" method="post">
    <input type="hidden" asp-for="ReturnUrl" />
    <div class="form-group">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RememberMe">
            <input asp-for="RememberMe" />
            Remember Me
        </label>
    </div>
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="text-danger">
            @ViewData.ModelState[string.Empty]?.Errors.FirstOrDefault()?.ErrorMessage
        </div>
    }
    <button type="submit" class="btn btn-primary">Login</button>
    <p>
        <a asp-action="ForgotPassword">Forgot Password?</a>
    </p>
</form>