@model DEPI_GraduationProject.DTOs.ResetPasswordModel

<h2>Reset Password</h2>
<form asp-action="ResetPassword" method="post">
    <input type="hidden" asp-for="Token" />
    <input type="hidden" asp-for="Email" />
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" class="form-control" type="password" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="text-danger">
            @ViewData.ModelState[string.Empty]?.Errors.FirstOrDefault()?.ErrorMessage
        </div>
    }
    <button type="submit" class="btn btn-primary">Reset Password</button>
</form>